.event {
  position: relative;
  width: 100%;
  z-index: 1;
  @media (max-width: 991px) {
    background-color: #fbfb79;
    padding-top: 80px;
  }
  &-top {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    @media (max-width: 991px) {
      top: -15px;
      img {
        width: 146px;
        height: auto;
      }
    }
  }
}
