#footer {
  background-color: #fbfb79;
  position: relative;
  @media (max-width: 991px) {
    // border-radius: 20px 20px 0 0;
    .dvtc {
      li {
        &:nth-child(2) {
          a {
            img {
              width: 22px;
            }
          }
        }
        &:nth-child(3) {
          a {
            img {
              width: 60px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 390px) {
    // border-radius: 20px 20px 0 0;
    .dvtc {
      li {
        &:nth-child(2) {
          a {
            img {
              width: 18px;
            }
          }
        }
        &:nth-child(3) {
          a {
            img {
              width: 45px;
            }
          }
        }
      }
    }
  }
  .footer-back {
    position: absolute;
    top: 100px;
    right: 100px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  .footer-back-top {
    display: flex;
    justify-content: flex-end;
  }
}
.footer {
  &-container {
    padding: 100px 0;
    @media (max-width: 991px) {
      max-width: 100%;
      padding: 60px 20px 80px;
    }

    .footer-location-title {
      font-size: 21px;
      line-height: 120%;
      font-weight: 700;
      text-transform: uppercase;
      font-family: var(--font-mono-sans);

      margin-bottom: 18px;
      @media (max-width: 991px) {
        font-size: 10px;
        margin-bottom: 12px;
      }
    }
    .info-contact {
      margin-bottom: 12px;
      li {
        @media (max-width: 991px) {
          line-height: 1;
          height: 10px;
        }
        a {
          font-family: var(--font-mono-sans);
          font-size: 15px;
          line-height: 120%;
          font-weight: 700;
          text-transform: uppercase;
          display: inline-block;
          transition: color 0.3s ease;
          &:hover {
            color: #00299c;
          }
          @media (max-width: 991px) {
            font-size: 7px;
            height: 100%;
            display: block;
          }
        }
      }
    }
    .social {
      display: flex;
      gap: 10px;
      li {
        a {
          &.ic_tt {
            &:hover {
              svg {
                .fill-color {
                  fill: #00299c;
                }
                path {
                  fill: #fbfb79;
                }
              }
            }
          }
          svg {
            path {
              transition: all 0.3s ease;
            }
          }
          &:hover {
            svg {
              path {
                fill: #00299c;
              }
            }
          }
        }
      }
      @media (max-width: 991px) {
        li {
          a {
            svg {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    gap: 95px 12px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
      gap: 32px 12px;
    }
  }
  &-title {
    font-family: var(--font-mono-sans);
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    color: #2b190f;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: center;

    @media (max-width: 767px) {
      text-align: left;
      font-size: 6px;
    }
  }
  &-main {
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 0.7fr 0.7fr;
    gap: 24px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      gap: 12px;
    }
    &-col {
      &.follow-us {
        @media (min-width: 992px) {
          grid-column: 4 / 5;
        }
        // display: flex;
        // flex-direction: column;
        // align-items: flex-end;
        ul {
          display: flex;
          align-items: center;
          gap: 18px;
          li {
            &:first-child {
              width: auto;
            }
          }
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 12px;
        @media (max-width: 991px) {
          gap: 12px 8px;
        }
        li {
          &:first-child {
            width: 100%;
          }
        }
      }
      a.novusland {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &-logo {
      @media (max-width: 991px) {
        ul {
          li {
            a {
              img {
                width: 106px;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
  &-logo {
    @media (max-width: 991px) {
      margin-bottom: 95px;
    }
    a {
      display: inline-block;
    }
    img {
      @media (max-width: 991px) {
        width: 148px;
        height: auto;
      }
    }
  }
}
@media (min-width: 992px) {
  .mw-50 {
    max-width: 60%;
  }
  .mw-70 {
    max-width: 83%;
  }
}
