#footer {
  background-color: #fbfb79;
}
.footer {
  &-container {
    padding: 100px 0;

    .footer-back-top {
      display: flex;
      justify-content: flex-end;
    }
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
    gap: 12px;
  }
  &-title {
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    color: #2b190f;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  &-main {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    &-col {
      &.follow-us {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        ul {
          display: flex;
          align-items: center;
          gap: 18px;
          li {
            &:first-child {
              width: auto;
            }
          }
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        li {
          &:first-child {
            width: 100%;
          }
        }
      }
    }
  }
  &-logo {
    a {
      display: inline-block;
    }
  }
}
