#footer {
  background-color: #fbfb79;
  @media (max-width: 991px) {
    border-radius: 20px 20px 0 0;
  }
}
.footer {
  &-container {
    padding: 100px 0;
    @media (max-width: 991px) {
      max-width: 100%;
      padding: 80px 20px;
    }
    .footer-back-top {
      display: flex;
      justify-content: flex-end;
    }
    .footer-location-title {
      font-size: 21px;
      line-height: 120%;
      font-weight: 700;
      text-transform: uppercase;
      font-family: var(--font-mono-sans);
      max-width: 85%;
      margin-bottom: 18px;
      @media (max-width: 991px) {
        font-size: 10px;
        margin-bottom: 12px;
      }
    }
    .info-contact {
      margin-bottom: 12px;
      li {
        @media (max-width: 991px) {
          line-height: 1;
          height: 10px;
        }
        a {
          font-family: var(--font-mono-sans);
          font-size: 15px;
          line-height: 120%;
          font-weight: 700;
          text-transform: uppercase;
          display: inline-block;
          transition: color 0.3s ease;
          &:hover {
            color: #00299c;
          }
          @media (max-width: 991px) {
            font-size: 7px;
            height: 100%;
            display: block;
          }
        }
      }
    }
    .social {
      display: flex;
      gap: 10px;
      li {
        a {
          svg {
            path {
              transition: all 0.3s ease;
            }
          }
          &:hover {
            svg {
              path {
                fill: #00299c;
              }
            }
          }
        }
      }
      @media (max-width: 991px) {
        li {
          a {
            svg {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    gap: 95px 12px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
      gap: 32px 12px;
    }
  }
  &-title {
    font-family: var(--font-mono-sans);
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    color: #2b190f;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: center;
  }
  &-main {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 0.9fr 0.9fr;
    gap: 24px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
    &-col {
      &.follow-us {
        @media (min-width: 992px) {
          grid-column: 4 / 5;
        }
        // display: flex;
        // flex-direction: column;
        // align-items: flex-end;
        ul {
          display: flex;
          align-items: center;
          gap: 18px;
          li {
            &:first-child {
              width: auto;
            }
          }
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        li {
          &:first-child {
            width: 100%;
          }
        }
      }
    }
    &-logo {
      @media (max-width: 991px) {
        ul {
          li {
            a {
              img {
                width: 106px;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
  &-logo {
    @media (max-width: 991px) {
      margin-bottom: 95px;
    }
    a {
      display: inline-block;
    }
    img {
      @media (max-width: 991px) {
        width: 148px;
        height: auto;
      }
    }
  }
}
