.form {
  background: linear-gradient(
    180deg,
    #00299c 25.79%,
    #062c9c 36.39%,
    #18349d 49.65%,
    #36429e 65.56%,
    #6056a0 82.79%,
    #7460a2 90.75%,
    #fbfb79 96.05%,
    #f7f87f 102.68%,
    #ebef91 111.96%,
    #d9e2af 122.56%,
    #c0cfd9 135.82%,
    #aabffe 145.1%
  );
  padding: 80px 0 120px;
  position: relative;

  h2 {
    color: #fbfb79;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 98px;
  }

  .form-wrapper {
    margin: 0 auto;
    width: max-content;
    max-width: 600px;
  }

  .field-item {
    margin-bottom: 24px;
    width: 600px;

    &.error {
      label {
        color: red;
      }
    }

    label {
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      color: #fbfb79;
      display: block;
      margin-bottom: 8px;
    }

    input {
      height: 48px;
      font-size: 16px;
      border: none;
      color: #000;
      outline: unset;
      background-color: #fff;
      border-radius: 20px;
      width: 100%;
      font-family: "Archivo", sans-serif;
      font-weight: bold;
      padding: 12px 24px;
    }

    &.field-accept {
      a {
        transition: all 0.4s ease;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #fbfb79;
          bottom: -2px;
          left: 0;
          transform: scaleX(1);
          transform-origin: bottom left;
          transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover {
          &::before {
            transform: scaleX(0);
            transform-origin: bottom right;
          }
        }
      }
      label {
        text-transform: none;
        font-family: "Archivo", sans-serif;
        display: flex;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        width: max-content;
      }

      input {
        border-radius: 50%;
        overflow: hidden;
        width: 18px;
        height: 18px;

        appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease;
        padding: 0;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          background: #fff;
          border-radius: 50%;
          pointer-events: none;
        }

        &:checked::after {
          background: #fbfb79;
        }
      }
    }
  }

  .message-success {
    font-family: "Archivo", sans-serif;
    color: #fbfb79;
  }

  button {
    margin: 32px auto 0;
    display: flex;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
      177.27deg,
      #fbfb79 19.82%,
      #fdda50 84.84%,
      #ffa710 137.36%
    );
    z-index: 1;
    font-size: 18px;
    line-height: 21px;
    padding: 9px 32px;

    &.aloading {
      pointer-events: none;
      color: transparent !important;
      background: linear-gradient(
        177.27deg,
        #fbfb79 19.82%,
        #fdda50 84.84%,
        #ffa710 137.36%
      ) !important;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid transparent;
        border-radius: 50%;
        border-top: 3px solid #00299c;
        border-right: 3px solid #00299c;
        width: 20px;
        height: 20px;
        animation: spin-animation 1s linear infinite;
        z-index: 2;
        background: 0 0;
      }

      @keyframes spin-animation {
        0% {
          transform: translate(-50%, -50%) rotate(0);
        }
        100% {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }
    }

    &:disabled {
      opacity: 0.7;
      pointer-events: none;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        177.27deg,
        #fbfb79 19.82%,
        #fdda50 84.84%,
        #ffa710 137.36%
      );
      opacity: 0;
      transition: opacity 0.5s ease;
      z-index: -1;
    }
  }

  .art-form-left {
    width: 400px;
    position: absolute;
    left: 0;
    bottom: 100px;
  }

  .art-form-right {
    width: 250px;
    position: absolute;
    right: 5%;
    bottom: 150px;
  }
}
