.form {
  background-color: #01299c;
  padding: 80px 0 100px;

  h2 {
    color: #fbfb79;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 98px;
  }

  .form-wrapper {
    margin: 0 auto;
    width: max-content;
  }

  .field-item {
    margin-bottom: 24px;
    width: 600px;

    label {
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      color: #fbfb79;
      display: block;
      margin-bottom: 8px;
    }

    input {
      height: 48px;
      font-size: 16px;
      border: none;
      color: #01299c;
      outline: unset;
      background-color: #fff;
      border-radius: 20px;
      width: 100%;
      font-family: "Archivo", sans-serif;
      font-weight: bold;
      padding: 12px 24px;
    }

    &.field-accept {
      label {
        text-transform: none;
        font-family: "Archivo", sans-serif;
        display: flex;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
      }

      input {
        border-radius: 50%;
        overflow: hidden;
        width: 18px;
        height: 18px;

        appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease;
        padding: 0;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          background: #fff;
          border-radius: 50%;
          pointer-events: none;
        }

        &:checked::after {
          background: #fbfb79;
        }
      }
    }
  }

  button {
    margin: 32px auto 0;
    display: flex;
  }
}
