.btn-general {
  font-size: 24px;
  line-height: 27px;
  font-weight: 900;
  color: #4d67ff;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 48px;
  transition: color 0.3s ease;
}
.back-to-top {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border: 3px solid #4d67ff;
  svg {
    path {
      transition: all 0.3s ease;
    }
  }
  &:hover {
    background-color: #4d67ff;
    cursor: pointer;
    svg {
      path {
        fill: var(--color-white);
        stroke: var(--color-white);
      }
    }
  }
}
.custom-arrow {
  width: 80px;
  height: 80px;
  margin-top: 0;
  transform: translateY(-50%);
  .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
      177.27deg,
      #fbfb79 19.82%,
      #fdda50 84.84%,
      #ffa710 137.36%
    );
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #4d67ff;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
    }
  }
  &:hover {
    svg {
      path {
        fill: var(--color-white);
        stroke: var(--color-white);
      }
    }
  }
  svg {
    width: auto;
    height: auto;
    path {
      transition: all 0.3s ease;
    }
  }
  &::after {
    content: unset;
    font-size: 0;
  }
  &:hover {
    .arrow-wrapper {
      &::after {
        opacity: 1;
      }
    }
  }
}

#cta-tickets {
  width: 170px;
  height: 140px;
  position: fixed;
  z-index: 99;
  right: 80px;
  bottom: 80px;

  @media (max-width: 991px) {
    width: 96px;
    height: 80px;
    right: 24px;
    bottom: 70px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.hidden-cta {
  display: none;
}
