#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;

  @media (max-width: 991px) {
    pointer-events: auto;
  }
}
.header {
  &-container {
    @media (max-width: 991px) {
      padding: 0 24px;
    }
  }
  &-main {
    padding-top: 40px;
  }
  &-logo {
    pointer-events: auto;
    position: relative;
    z-index: 2;
  }
  &-menu {
    pointer-events: auto;

    @media (max-width: 991px) {
      width: 440px;
      max-width: 100%;
      position: fixed;
      height: 100dvh;
      top: 0;
      right: 0;
      background: linear-gradient(
        180deg,
        #4d67ff 73.75%,
        #536afc 75.58%,
        #6572f5 78.21%,
        #8380e9 81.1%,
        #ad93d9 84.51%,
        #e2abc5 87.92%,
        #fdb8bb 89.5%,
        #fce29d 91.6%,
        #ffa710 100%
      );

      clip-path: inset(0 0 0 100%);
      transition: clip-path 0.6s ease;

      &.active {
        clip-path: inset(0 0 0 0);
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 46px;

      @media (max-width: 991px) {
        flex-direction: column;
        padding: 160px 20px;
        gap: 0;
        align-items: flex-start;
      }

      li {
        @media (max-width: 991px) {
          position: relative;
          width: 100%;
          &:not(:last-child) {
            &::after {
              content: "";
              width: 100%;
              height: 0.5px;
              position: absolute;
              bottom: 0px;
              left: 0;
              background-color: #ffa710;
            }
          }
        }
        a {
          color: var(--color-white);
          font-size: 20px;
          line-height: 1;
          font-weight: 700;
          transition: color 0.3s ease-in-out;

          @media (max-width: 991px) {
            font-size: 40px;
            padding: 20px 0;
            display: block;
            width: 100%;
            color: #fbfb79;
          }

          &.active {
            color: #fc3e28;
          }
        }
      }
    }
  }

  &-hambuger {
    display: none;

    width: 25px;
    height: 40px;
    position: relative;

    border-radius: 4px;
    // border: 1px solid var(--color-primary);

    @media (max-width: 991px) {
      display: flex;
    }

    &::before {
      content: "";
      position: absolute;
      inset: -10px;
      background-color: transparent;
    }

    &.active {
      .header-hambuger-container {
        span {
          &:nth-child(1) {
            transform: translateY(5px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
            transform: scale(0);
          }
          &:nth-child(3) {
            transform: translateY(-5px) rotate(-45deg);
          }
        }
      }
    }
    &-container {
      width: 22px;
      height: 16px;
      position: relative;

      // overflow: hidden;

      span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-white);
        transition: all 0.4s;
        display: block;
        will-change: transform, opacity;
        backface-visibility: hidden;
        transform-origin: center;
        &:nth-child(1) {
          top: 2px;
          // transform-origin: left top;
        }
        &:nth-child(2) {
          top: 7px;
        }
        &:nth-child(3) {
          top: 12px;
        }
      }
    }
  }
}
.hide-menu .header-menu ul {
  display: none;
}
.hide-menu .header-hambuger {
  display: none;
}
