.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  z-index: 1;
  .hero-art-work {
    position: absolute;
    z-index: 2;
    &.hero-1 {
      top: 80px;
      left: calc(calc(1 / 12) * 100%);
      transform: translateX(-70px);
      @media (max-width: 991px) {
        transform: translateX(0);
        top: 100px;
        img {
          width: 82px;
          height: auto;
        }
      }
    }
    &.hero-2 {
      right: calc(calc(1 / 12) * 100%);
      top: 80px;
      transform: translateX(50px);
      @media (max-width: 991px) {
        transform: translateX(0);
        top: 100px;
        img {
          width: 82px;
          height: auto;
        }
      }
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    a {
      position: relative;
      overflow: hidden;
      background: linear-gradient(
        177.27deg,
        #fbfb79 19.82%,
        #fdda50 84.84%,
        #ffa710 137.36%
      );
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #4d67ff;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: -1;
      }

      &:hover {
        color: var(--color-white);
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
