.introduction {
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: #fbfb79;
  &-main {
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    transform: translateY(-30px);
  }
  &-art {
    position: absolute;
    z-index: 2;
    &.art-1 {
      right: 200px;
      top: 0;
      transform: translateY(-25%);
    }
    &.art-2 {
      left: 70px;
      top: 0;
      transform: translateY(-5%);
    }
    &.art-3 {
      left: 50px;
      top: 50%;
    }
    &.art-4 {
      bottom: 100px;
      right: 50px;
    }
  }
}
