.music {
  padding-bottom: 100px;
  background: #ffffe9;
  position: relative;
  z-index: 3;

  @media (max-width: 991px) {
    padding-bottom: 50px;
  }

  &-wrapper {
    border-radius: 30px 30px 0 0;
    transform: translateY(-30px);
    overflow: hidden;
  }

  &-slider {
    max-width: calc(calc(9 / 12 * 100%));
    margin: 0 auto;
    position: relative;
    @media (max-width: 991px) {
      max-width: 100%;
      padding: 0 20px;
    }
    .swiper-button-prev {
      left: 0;
      margin-left: -100px;
      @media (max-width: 991px) {
        display: none;
      }
    }
    .swiper-button-next {
      right: 0;
      margin-right: -100px;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  .swiper-slide {
    // height: 530px;
    aspect-ratio: 528 / 800;
    height: auto;

    &.swiper-slide-active {
      .music-song {
        transform: scale(1);
      }
    }
    .music-song {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 20px;
      transform: scale(0.85);
      transition: transform 0.3s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
