.term {
  position: relative;
  background-color: #00299c;
  color: #fff;
  padding: 200px 24px 120px;

  &::after {
    content: "";
    position: absolute;
    height: 500px;
    width: 100%;
    background: linear-gradient(
      180deg,
      #00299c 25.79%,
      #062c9c 36.39%,
      #18349d 49.65%,
      #36429e 65.56%,
      #6056a0 82.79%,
      #7460a2 90.75%,
      #fbfb79 96.05%,
      #f7f87f 102.68%,
      #ebef91 111.96%,
      #d9e2af 122.56%,
      #c0cfd9 135.82%,
      #aabffe 145.1%
    );
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &-wrapper {
    width: 60%;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
      width: 100%;
    }

    .title {
      margin-bottom: 40px;
      font-size: 54px;
      // color: #fbfb79;

      @media (max-width: 767px) {
        font-size: 50px;
      }
    }

    .content {
      font-family: "Mona Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;

      @media (max-width: 767px) {
        font-size: 14px;
      }

      h2,
      h2,
      h4,
      h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        font-family: var(--font-phudu);
        margin: 16px 0;

        @media (max-width: 767px) {
          font-size: 14px;
        }
      }

      ul {
        list-style: disc;
        padding-left: 24px;
      }

      p {
        margin: 8px 0;
      }
    }
  }
}
