.tickets {
  position: relative;
  width: 100%;
  background-color: #01299c;
  // padding-top: 140px;
  &-title {
    width: 50%;
    margin: 0 auto;
    color: #fcf88b;
    font-size: 60px;
    line-height: 67px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: none;
  }
  &-main {
    // padding: 130px 0;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    transform: translateY(-30px);
    background-color: #01299c;
    padding-bottom: 70px;

    @media (max-width: 767px) {
      padding-bottom: 6px;
    }
  }
  &-cards {
    padding-bottom: 130px;

    @media (max-width: 991px) {
      padding-bottom: 64px;
      max-width: 100%;
    }

    .title {
      max-width: 750px;
      margin: 0 auto 100px;
      color: #fbfb79;
      text-align: center;
      font-family: var(--font-phudu);
      font-size: 35px;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.35px;

      @media (max-width: 991px) {
        padding-right: 24px;
      }

      @media (max-width: 767px) {
        margin-bottom: 36px;
        font-size: 16px;
        padding: 0 20px;
      }
    }

    .ticket-card {
      width: 100%;
      aspect-ratio: 280 / 433;

      &.disabled {
        pointer-events: none;
      }
    }
  }
  .swiper-tickets {
    @media (max-width: 991px) {
      padding-left: 20px;
      // padding-right: 20px;
    }
  }
}
