.tickets {
  position: relative;
  width: 100%;
  background-color: #01299c;
  border-radius: 30px 30px 0 0;
  padding-top: 140px;
  &-title {
    width: 50%;
    margin: 0 auto;
    color: #fcf88b;
    font-size: 60px;
    line-height: 67px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
  &-main {
    padding: 130px 0;
  }
  &-cards {
    padding-bottom: 130px;
  }
}
