<div class="header-container limit-w">
  <div class="header-main d-flex justify-content-between align-items-center">
    <a href="./index.html" class="header-logo">
      <img src="./assets/images/logo-w.svg" alt="" />
    </a>
    <div class="header-menu" data-lenis-prevent>
      <ul>
        <li>
          <a href="#introduction">Giới thiệu</a>
        </li>
        <li>
          <a href="#location">Thời gian & địa điểm</a>
        </li>
        <li>
          <a href="#music">Đại nhạc hội</a>
        </li>
        <li>
          <a href="#map">Seat Map</a>
        </li>
        <li>
          <a href="#form">Lấy vé ngay</a>
        </li>
      </ul>
    </div>
    <div class="header-hambuger align-items-center justify-content-center">
      <div class="header-hambuger-container">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
