@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --font-phudu: "Phudu", sans-serif;
  --font-archivo: "Archivo", sans-serif;
  --font-mono-sans: "Mona Sans", sans-serif;
  --color-white: #fff;
}

body,
* {
  font-family: var(--font-phudu);
}

.limit-w {
  max-width: 83.3333333333%;
  width: 100%;
  margin: 0 auto;
}

.font-phudu {
  font-family: var(--font-phudu);
}

.h-115 {
  font-size: 115px;
  line-height: 140px;
}

.h-100 {
  font-size: 100px;
  line-height: 1;
}

.h-3 {
  font-size: 50px;
  line-height: 60px;
}

.h-2 {
  font-size: 40px;
  line-height: 50px;
}

.h-1 {
  font-size: 30px;
  line-height: 40px;
}

.h-0 {
  font-size: 26px;
  line-height: 30px;
}

.b-2 {
  font-size: 17px;
  line-height: 26px;
}

.b-1 {
  font-size: 16px;
  line-height: 26px;
}

.btn-text {
  font-size: 15px;
  line-height: 25px;
}

.b-0 {
  font-size: 20px;
  line-height: 24px;
}

.fw-black {
  font-weight: 900;
}

.fw-bold {
  font-weight: bold;
}

.fw-medium {
  font-weight: 500;
}

.fw-regular {
  font-weight: 400;
}

.fw-light {
  font-weight: 300;
}

.fw-semibold {
  font-weight: 600;
}

.color-white {
  color: var(--color-white);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px solid #000;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: var(--font-phudu);
}

.btn-general {
  font-size: 24px;
  line-height: 27px;
  font-weight: 900;
  color: #4d67ff;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 48px;
  transition: color 0.3s ease;
}

.back-to-top {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #2b190f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.back-to-top:hover {
  background-color: #01299c;
  cursor: pointer;
}

.custom-arrow {
  width: 80px;
  height: 80px;
  margin-top: 0;
  transform: translateY(-50%);
}
.custom-arrow .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background: linear-gradient(177.27deg, #fbfb79 19.82%, #fdda50 84.84%, #ffa710 137.36%);
}
.custom-arrow .arrow-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4d67ff;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}
.custom-arrow:hover svg path {
  fill: var(--color-white);
  stroke: var(--color-white);
}
.custom-arrow svg {
  width: auto;
  height: auto;
}
.custom-arrow svg path {
  transition: all 0.3s ease;
}
.custom-arrow::after {
  content: unset;
  font-size: 0;
}
.custom-arrow:hover .arrow-wrapper::after {
  opacity: 1;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
}

.header-main {
  padding-top: 40px;
}
.header-logo {
  pointer-events: auto;
}
.header-menu {
  pointer-events: auto;
}
.header-menu ul {
  display: flex;
  align-items: center;
  gap: 46px;
}
.header-menu ul li a {
  color: var(--color-white);
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}
.header-menu ul li a.active {
  color: #fc3e28;
}

.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
.hero-image {
  width: 100%;
  height: 100%;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
.hero-button a {
  position: relative;
  overflow: hidden;
  background: linear-gradient(177.27deg, #fbfb79 19.82%, #fdda50 84.84%, #ffa710 137.36%);
  z-index: 1;
}
.hero-button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4d67ff;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}
.hero-button a:hover {
  color: var(--color-white);
}
.hero-button a:hover::before {
  opacity: 1;
}

.form {
  background: linear-gradient(180deg, #00299c 25.79%, #062c9c 36.39%, #18349d 49.65%, #36429e 65.56%, #6056a0 82.79%, #7460a2 90.75%, #fbfb79 96.05%, #f7f87f 102.68%, #ebef91 111.96%, #d9e2af 122.56%, #c0cfd9 135.82%, #aabffe 145.1%);
  padding: 80px 0 120px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .form {
    padding: 24px 0 130px;
  }
}
.form h2 {
  color: #fbfb79;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 98px;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .form h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
}
.form .form-wrapper {
  margin: 0 auto;
  width: max-content;
  max-width: 600px;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .form .form-wrapper {
    max-width: 300px;
  }
}
.form .field-item {
  margin-bottom: 24px;
  width: 600px;
}
@media (max-width: 767px) {
  .form .field-item {
    width: 300px;
    margin-bottom: 8px;
  }
}
.form .field-item.error label {
  color: red;
}
.form .field-item label {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #fbfb79;
  display: block;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .form .field-item label {
    font-size: 8px;
    margin-bottom: 4px;
  }
}
.form .field-item input {
  height: 48px;
  font-size: 16px;
  border: none;
  color: #000;
  outline: unset;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  padding: 12px 24px;
}
@media (max-width: 767px) {
  .form .field-item input {
    height: 25px;
    padding: 4px 16px;
    font-size: 8px;
  }
}
.form .field-item .phone-desc {
  font-family: "Mona Sans", sans-serif;
  font-size: 11px;
  color: #e2e2e2;
  margin-top: 8px;
}
@media (max-width: 767px) {
  .form .field-item .phone-desc {
    margin-top: 4px;
    font-size: 6px;
  }
}
.form .field-item.field-accept a {
  transition: all 0.4s ease;
  position: relative;
  font-family: "Archivo", sans-serif;
}
.form .field-item.field-accept a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fbfb79;
  bottom: -2px;
  left: 0;
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.form .field-item.field-accept a:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.form .field-item.field-accept label {
  text-transform: none;
  font-family: "Mona Sans", sans-serif;
  display: flex;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  width: max-content;
}
.form .field-item.field-accept input {
  border-radius: 50%;
  overflow: hidden;
  width: 18px;
  height: 18px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  padding: 0;
}
@media (max-width: 767px) {
  .form .field-item.field-accept input {
    width: 10px;
    height: 10px;
  }
}
.form .field-item.field-accept input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
}
@media (max-width: 767px) {
  .form .field-item.field-accept input::after {
    width: 6px;
    height: 6px;
  }
}
.form .field-item.field-accept input:checked::after {
  background: #fbfb79;
}
.form .message-success {
  font-family: "Archivo", sans-serif;
  color: #fbfb79;
}
.form button {
  margin: 32px auto 0;
  display: flex;
  position: relative;
  overflow: hidden;
  background: linear-gradient(177.27deg, #fbfb79 19.82%, #fdda50 84.84%, #ffa710 137.36%);
  z-index: 1;
  font-size: 18px;
  line-height: 21px;
  padding: 9px 32px;
}
@media (max-width: 767px) {
  .form button {
    margin-top: 16px;
    padding: 5px 18px;
    border-radius: 20px;
    font-size: 10px;
    line-height: 100%;
  }
}
.form button.aloading {
  pointer-events: none;
  color: transparent !important;
  background: linear-gradient(177.27deg, #fbfb79 19.82%, #fdda50 84.84%, #ffa710 137.36%) !important;
  position: relative;
}
.form button.aloading::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 3px solid #00299c;
  border-right: 3px solid #00299c;
  width: 20px;
  height: 20px;
  animation: spin-animation 1s linear infinite;
  z-index: 2;
  background: 0 0;
}
@media (max-width: 767px) {
  .form button.aloading::after {
    width: 12px;
    height: 12px;
  }
}
@keyframes spin-animation {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.form button:disabled {
  opacity: 0.7;
  pointer-events: none;
}
.form button:hover::before {
  opacity: 1;
}
.form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(177.27deg, #fbfb79 19.82%, #fdda50 84.84%, #ffa710 137.36%);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}
.form .art-form-left {
  width: 400px;
  position: absolute;
  left: 0;
  bottom: 100px;
}
@media (max-width: 991px) {
  .form .art-form-left {
    display: none;
  }
}
.form .art-form-right {
  width: 250px;
  position: absolute;
  right: 5%;
  bottom: 150px;
}
@media (max-width: 767px) {
  .form .art-form-right {
    opacity: 0.6 !important;
    bottom: 100px;
    width: 140px;
    right: -10%;
  }
}
.form .icon-mobile {
  display: none;
}
@media (max-width: 767px) {
  .form .icon-mobile {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto;
  }
}

#footer {
  background-color: #fbfb79;
}
@media (max-width: 991px) {
  #footer {
    border-radius: 20px 20px 0 0;
  }
}

.footer-container {
  padding: 100px 0;
}
@media (max-width: 991px) {
  .footer-container {
    max-width: 100%;
    padding: 80px 20px;
  }
}
.footer-container .footer-back-top {
  display: flex;
  justify-content: flex-end;
}
.footer-container .footer-location-title {
  font-size: 21px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font-mono-sans);
  max-width: 85%;
  margin-bottom: 18px;
}
@media (max-width: 991px) {
  .footer-container .footer-location-title {
    font-size: 10px;
    margin-bottom: 12px;
  }
}
.footer-container .info-contact {
  margin-bottom: 12px;
}
@media (max-width: 991px) {
  .footer-container .info-contact li {
    line-height: 1;
    height: 10px;
  }
}
.footer-container .info-contact li a {
  font-family: var(--font-mono-sans);
  font-size: 15px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}
@media (max-width: 991px) {
  .footer-container .info-contact li a {
    font-size: 7px;
    height: 100%;
    display: block;
  }
}
.footer-container .social {
  display: flex;
  gap: 10px;
}
@media (max-width: 991px) {
  .footer-container .social li a svg {
    width: 18px;
    height: 18px;
  }
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  gap: 95px 12px;
}
@media (max-width: 991px) {
  .footer-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 32px 12px;
  }
}
.footer-title {
  font-family: var(--font-mono-sans);
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  color: #2b190f;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;
}
.footer-main {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 0.9fr 0.9fr;
  gap: 24px;
}
@media (max-width: 991px) {
  .footer-main {
    grid-template-columns: 1fr 1fr;
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
@media (min-width: 992px) {
  .footer-main-col.follow-us {
    grid-column: 4/5;
  }
}
.footer-main-col.follow-us ul {
  display: flex;
  align-items: center;
  gap: 18px;
}
.footer-main-col.follow-us ul li:first-child {
  width: auto;
}
.footer-main-col ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.footer-main-col ul li:first-child {
  width: 100%;
}
@media (max-width: 991px) {
  .footer-main-logo ul li a img {
    width: 106px;
    height: auto;
  }
}
@media (max-width: 991px) {
  .footer-logo {
    margin-bottom: 95px;
  }
}
.footer-logo a {
  display: inline-block;
}
@media (max-width: 991px) {
  .footer-logo img {
    width: 148px;
    height: auto;
  }
}

.introduction {
  position: relative;
  width: 100%;
  z-index: 1;
}
.introduction-art {
  position: absolute;
  z-index: 2;
}
.introduction-art.art-1 {
  right: 200px;
  top: 0;
  transform: translateY(-25%);
}
.introduction-art.art-2 {
  left: 70px;
  top: 0;
  transform: translateY(-5%);
}
.introduction-art.art-3 {
  left: 50px;
  top: 50%;
}
.introduction-art.art-4 {
  bottom: 100px;
  right: 50px;
}

.event {
  position: relative;
  width: 100%;
  z-index: 1;
}
.event-top {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

.music {
  padding-bottom: 100px;
  background: #ffffe9;
  position: relative;
  z-index: 3;
}
.music-wrapper {
  border-radius: 30px 30px 0 0;
  transform: translateY(-30px);
  overflow: hidden;
}
.music-slider {
  max-width: 75%;
  margin: 0 auto;
  position: relative;
}
.music-slider .swiper-button-prev {
  left: 0;
  margin-left: -100px;
}
.music-slider .swiper-button-next {
  right: 0;
  margin-right: -100px;
}
.music .swiper-slide {
  aspect-ratio: 528/800;
  height: auto;
}
.music .swiper-slide.swiper-slide-active .music-song {
  transform: scale(1);
}
.music .swiper-slide .music-song {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  transform: scale(0.85);
  transition: transform 0.3s;
}
.music .swiper-slide .music-song img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tickets {
  position: relative;
  width: 100%;
  background-color: #01299c;
  border-radius: 30px 30px 0 0;
  padding-top: 140px;
}
.tickets-title {
  width: 50%;
  margin: 0 auto;
  color: #fcf88b;
  font-size: 60px;
  line-height: 67px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.tickets-main {
  padding: 130px 0;
}
.tickets-cards {
  padding-bottom: 130px;
}
@media (max-width: 991px) {
  .tickets-cards {
    padding-bottom: 64px;
  }
}
.tickets-cards .title {
  max-width: 750px;
  margin: 0 auto 100px;
  color: #fbfb79;
  text-align: center;
  font-family: var(--font-phudu);
  font-size: 35px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.35px;
}
@media (max-width: 767px) {
  .tickets-cards .title {
    margin-bottom: 36px;
    font-size: 16px;
  }
}
.tickets-cards .ticket-card {
  width: 100%;
  aspect-ratio: 280/433;
}
.tickets-cards .ticket-card.disabled {
  pointer-events: none;
}

.term {
  position: relative;
  background-color: #00299c;
  color: #fff;
  padding: 200px 24px 120px;
}
.term::after {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background: linear-gradient(180deg, #00299c 25.79%, #062c9c 36.39%, #18349d 49.65%, #36429e 65.56%, #6056a0 82.79%, #7460a2 90.75%, #fbfb79 96.05%, #f7f87f 102.68%, #ebef91 111.96%, #d9e2af 122.56%, #c0cfd9 135.82%, #aabffe 145.1%);
  bottom: 0;
  left: 0;
  z-index: 1;
}
.term-wrapper {
  width: 60%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.term-wrapper .title {
  margin-bottom: 40px;
  font-size: 54px;
}
.term-wrapper .content {
  font-family: "Mona Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.term-wrapper .content h2,
.term-wrapper .content h2,
.term-wrapper .content h4,
.term-wrapper .content h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  font-family: var(--font-phudu);
  margin: 16px 0;
}
.term-wrapper .content ul {
  list-style: disc;
  padding-left: 24px;
}
.term-wrapper .content p {
  margin: 8px 0;
}