:root {
  --font-phudu: "Phudu", sans-serif;
}

.font-phudu {
  font-family: var(--font-phudu);
}

.h-115 {
  font-size: 115px;
  line-height: 140px;
}

.h-100 {
  font-size: 100px;
  line-height: 1;
}

.h-3 {
  font-size: 50px;
  line-height: 60px;
}

.h-2 {
  font-size: 40px;
  line-height: 50px;
}

.h-1 {
  font-size: 30px;
  line-height: 40px;
}

.h-0 {
  font-size: 26px;
  line-height: 30px;
}

.b-2 {
  font-size: 17px;
  line-height: 26px;
}

.b-1 {
  font-size: 16px;
  line-height: 26px;
}

.btn-text {
  font-size: 15px;
  line-height: 25px;
}

.b-0 {
  font-size: 20px;
  line-height: 24px;
}

.fw-black {
  font-weight: 900;
}

.fw-bold {
  font-weight: bold;
}

.fw-medium {
  font-weight: 500;
}

.fw-regular {
  font-weight: 400;
}

.fw-light {
  font-weight: 300;
}

.fw-semibold {
  font-weight: 600;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px solid #000;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: var(--font-phudu);
}