:root {
  --font-phudu: "Phudu", sans-serif;
  --color-white: #fff;
}

body,
* {
  font-family: var(--font-phudu);
}

.limit-w {
  max-width: 83.3333333333%;
  width: 100%;
  margin: 0 auto;
}

.font-phudu {
  font-family: var(--font-phudu);
}

.h-115 {
  font-size: 115px;
  line-height: 140px;
}

.h-100 {
  font-size: 100px;
  line-height: 1;
}

.h-3 {
  font-size: 50px;
  line-height: 60px;
}

.h-2 {
  font-size: 40px;
  line-height: 50px;
}

.h-1 {
  font-size: 30px;
  line-height: 40px;
}

.h-0 {
  font-size: 26px;
  line-height: 30px;
}

.b-2 {
  font-size: 17px;
  line-height: 26px;
}

.b-1 {
  font-size: 16px;
  line-height: 26px;
}

.btn-text {
  font-size: 15px;
  line-height: 25px;
}

.b-0 {
  font-size: 20px;
  line-height: 24px;
}

.fw-black {
  font-weight: 900;
}

.fw-bold {
  font-weight: bold;
}

.fw-medium {
  font-weight: 500;
}

.fw-regular {
  font-weight: 400;
}

.fw-light {
  font-weight: 300;
}

.fw-semibold {
  font-weight: 600;
}

.color-white {
  color: var(--color-white);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px solid #000;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: var(--font-phudu);
  background-color: #fbfb79;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
}

.header-main {
  padding: 40px 0;
}
.header-logo {
  pointer-events: auto;
}
.header-menu {
  pointer-events: auto;
}
.header-menu ul {
  display: flex;
  align-items: center;
  gap: 46px;
}
.header-menu ul li a {
  color: var(--color-white);
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
.hero-image {
  width: 100%;
  height: 100%;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  background-color: #01299c;
  padding: 80px 0 100px;
}
.form h2 {
  color: #fbfb79;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 98px;
}
.form .form-wrapper {
  margin: 0 auto;
  width: max-content;
}
.form .field-item {
  margin-bottom: 24px;
  width: 600px;
}
.form .field-item label {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #fbfb79;
  display: block;
  margin-bottom: 8px;
}
.form .field-item input {
  height: 48px;
  font-size: 16px;
  border: none;
  color: #01299c;
  outline: unset;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  padding: 12px 24px;
}
.form .field-item.field-accept label {
  text-transform: none;
  font-family: "Archivo", sans-serif;
  display: flex;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.form .field-item.field-accept input {
  border-radius: 50%;
  overflow: hidden;
  width: 18px;
  height: 18px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  padding: 0;
}
.form .field-item.field-accept input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
}
.form .field-item.field-accept input:checked::after {
  background: #fbfb79;
}
.form button {
  margin: 32px auto 0;
  display: flex;
}